/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');